:root {
    --primary-light-color: #99DCE2;
    --primary-color:#5BC7CA;
    --primary-dark-color:#36BBC0;

    --secondary-light-color: #F587C9;
    --secondary-color: #F53DAC;
    --secondary-dark-color: #F50C99;

    --dark-light-color: #464545;
    --dark-color: #100F0F;

    --light-color:#FAFAFA;

    --danger-color: #EF2222;
    --success-color: #57D74C;

    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Serif', serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'IBM Plex Sans', 'IBM Plex serif', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
h2{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
}

h3{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
}

h4{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 120%;
}

h5{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
}

h6{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 120%;
}

p{
    font-family: IBM Plex Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}